{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="section columns is-vcentered">
  <div class="card column is-half p-5">
    <h1 class="title has-text-light">{% trans "Sign Out" %}</h1>
    <p>{% trans "Are you sure you want to leave now? We'll miss you!" %}</p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="button mt-5" type="submit">{% trans 'Goodbye! 👋' %}</button>
    </form>
  </div>
  <div class="column is-half p-5 m-5">
    <figure class="image">
      <img src="{% static 'images/pof-pof/product launch.png' %}">
    </figure>
  </div>
</div>



{% endblock %}
