{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}<title>Plume - Signup</title>{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% load bulma_tags %}

{% block content %}

<section class="section columns is-vcentered">
  <div class="card column is-half p-5">
        <h1 class="title has-text-light">{% trans "Sign Up" %}</h1>
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        <br>
    <div class="column is-three-quarters">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|bulma }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="field">
          <button class="button mt-5" type="submit">{% trans "Sign me up!" %} &raquo;</button>
        </div>
      </form>
    </div>
  </div>
  <div class="column is-half p-5 m-5">
    <figure class="image">
      <img src="{% static 'images/pof-pof/winner.png' %}">
    </figure>
  </div>
</section>

{% endblock %}
