{% extends 'blog/base.html' %}

{% block content %}

<h1 class="posttitle">Your Drafts</h1>
<hr>
<div class="row mb-2">
  {% for post in post_list %}
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative cards">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0 brand">{{ post.title|truncatechars:20 }}</h3>
        <div class="mb-1 text-muted">{{ post.published_date|date:"D M Y" }}</div>
        <p class="card-text mb-auto">{{ post.text|truncatechars:150|striptags }}</p>
        <strong class="d-inline-block mb-2 text-primary">Comments: {{ post.approve_comments.count }}</strong>
        <a href="{% url 'post_detail' pk=post.pk %}" class="stretched-link text-black fw-bold">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="img-fluid" src="{{ post.image.url }}" width="200" height="250">
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
