{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h1 class="posttitle">Draft a new post!</h1>

  <form class="mb-3" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.author|as_crispy_field }}
    </div>
    <div class="mb-3">
      {{ form.title|as_crispy_field }}
    </div>
    <div class="mb-3">
      {{ form.tag|as_crispy_field }}
    </div>
    <div class="mb-3">
      {{ form.image|as_crispy_field }}
    </div>
    <div class="mb-3">
      {{ form.text|as_crispy_field }}
      <div class="form-text">Let's get creative! Highlight text to edit.</div>
    </div>
    <button class="save btn btn-primary" type="submit" name="button">Save</button>
  </form>

  <script>var editor = new MediumEditor('.editable');</script>
{% endblock %}
