{% extends "base.html" %}

{% load bulma_tags %}

{% block title %}<title>Plume - Start a Conversation</title>{% endblock %}

{% block content %}
<div class="section">
  <h5 class="title has-text-light tricks fade-up">Start a Conversation!</h5>
  <a href="{% url 'accounts:inbox' %}" class="button">Return to convos</a>
  <div class="column is-half mt-3 mb-5">
    <form method="POST">
      {% csrf_token %}
      <p>Enter the username for the person you would like to talk to.</p>
      {{ form | bulma }}

      {% if messages %}
        {% for message in messages %}
        <div class="notification is-warning my-3">
          <button class="delete" onclick="this.parentElement.style.display='none'"></button>
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}

      <button type="submit" class="button mt-5">Chat!</button>
    </form>
  </div>
</div>
{% endblock content %}
