{% extends 'base.html' %}

{% block title %}<title>Plume - @{{ profile.user.username }}'s followers</title>{% endblock %}

{% block content %}
<div class="section">
  {% if profile.name %}
  <h3 class="title has-text-light tricks fade-up">@{{ profile.name }} followers</h3>
  {% else %}
  <h3 class="title has-text-light tricks fade-up">@{{ profile.user.username }} followers</h3>
  {% endif %}
  <a class="button" href="{% url 'accounts:profile' profile.pk %}" class="has-text-warning">Back to @{{ profile.user.username }}</a>
  {% for follower in followers %}
  <div class="my-5">
    <a href="{% url 'accounts:profile' follower.profile.pk %}"><img class="post-img" height="60" width="60" src="{{ follower.profile.picture.url }}" /></a>
    <a href="{% url 'accounts:profile' follower.profile.pk %}" class="has-text-warning"><h5 class="mt-0">@{{ follower.username }}</h5></a>
  </div>
  {% endfor %}
</div>
{% endblock content %}
