{% extends "base.html" %}

{% load bulma_tags %}

{% block title %}<title>Plume - @{{ profile.user }}'s profile</title>{% endblock %}

{% block content %}
<div class="section">
  <!-- Profile card -->
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="{{ profile.picture.url }}" class="is-rounded"/>
          </figure>
        </div>
        <div class="media-content mt-5">
          <p class="title is-3 has-text-light tricks fade-up">@{{ profile.user }}</p>
          {% if profile.location %}
          <p class="subtitle is-6"><i class="material-icons has-text-warning">place</i> <em>{{ profile.location }}</em></p>
          {% endif %}
          <a href="{% url 'accounts:followers-list' profile.pk%}" class="has-text-warning">Followers: {{ follower_count }}</a>

          {% if request.user.is_authenticated %}
            {% if profile.user == request.user %}
              <a href="{% url 'accounts:profile-edit' profile.pk %}" class="has-text-warning">
                <i class="material-icons">edit</i>
              </a>
            {% endif %}
          {% endif %}

        </div>
      </div>

      <div class="content">
        {% if profile.bio %}
        <p>bio: {{ profile.bio }}</p>
        {% endif %}
        {% if request.user.is_authenticated %}
          {% if is_following %}
          <form method="POST" action="{% url 'accounts:remove-follower' profile.pk %}">
            {% csrf_token %}
            <button class="button mb-3" type=submit>Unfollow</button>
          </form>
          <em class="has-text-light">You are following {{ user }}</em>
          {% else %}
          <form method="POST" action="{% url 'accounts:add-follower' profile.pk %}">
            {% csrf_token %}
            <button class="button" type=submit>Follow</button>
          </form>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Post history -->
  <h1 class="title has-text-light mt-5">Post history</h1>

  {% for post in posts %}
    {% include "posts/_post.html" %}
  {% endfor %}
</div>
{% endblock %}
