{% extends "base.html" %}

{% load bulma_tags %}
{% load static %}

{% block title %}<title>Plume - User Search</title>{% endblock %}

{% block content %}
<div class="section">
  {% if query == None %}
  <h1 class="title has-text-light tricks fade-up">User Search</h1>
  {% else %}
  <h1 class="title has-text-light tricks fade-up">Search results for "{{ query }}"</h1>
  {% endif %}
  <div class="columns is-centered">
    <div class="column">
      <form class="has-text-light p-3 mb-5" method="GET" action="{% url 'accounts:profile-search' %}">
        <div class="field has-addons">
          <div class="control">
            <input class="input is-rounded" type="text" name='query' value="{{ request.GET.query }}" placeholder="Search for user">
          </div>
          <div class="control">
            <button class="button is-warning is-rounded" type="submit">
              <span class="material-icons">person_search</span>
            </button>
          </div>
        </div>
      </form>
      {% for profile in profile_list %}

      <div class="card my-5">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <a href="{% url 'accounts:profile' profile.pk %}">
                  <figure class="image is-96x96 is-mobile">
                    <img src="{{ profile.picture.url }}" class="is-rounded"/>
                  </figure>
              </a>
            </div>
            <div class="media-content">
              <p class="title is-4"><a class="has-text-warning is-size-5-mobile" href="{% url 'accounts:profile' profile.pk %}">@{{ profile.user }}
              {{ is_following }}</a></p>
              {% if profile.location %}
              <p class="subtitle is-6 mb-2"><i class="material-icons">place</i>&nbsp{{ profile.location }}</p>
              {% endif %}
              <p class="subtitle is-6">Followers: {{ profile.followers.all.count }}</p>
            </div>
          </div>

          <div class="content">
            {% if is_following %}
            <form method="POST" action="{% url 'accounts:remove-follower' profile.pk %}">
              {% csrf_token %}
              <button class="button" type=submit>Unfollow</button>
            </form>
            <em class="has-text-light">You are following {{ user }}</em>
            {% else %}
            <form method="POST" action="{% url 'accounts:add-follower' profile.pk %}">
              {% csrf_token %}
              <button class="button" type=submit>Follow</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="column is-half p-5 m-5">
      <figure class="image p-5">
        <img src="{% static 'images/pof-pof/Searching.png' %}">
      </figure>
    </div>
  </div>


</div>
{% endblock %}
