{% extends "base.html" %}

{% load bulma_tags %}

{% block title %}<title>Plume - Search results for "{{ query }}"</title>{% endblock %}

{% block content %}
<div class="section">
  <h1 class="title has-text-light">Search results for "{{ query }}"</h1>

  {% for profile in profile_list %}
  <div class="row mt-3">
      <div>
        <a href="{% url 'accounts:profile' profile.pk %}">
          <img class="image" height="30" width="30" src="{{ profile.picture.url }}" />
        </a>
        <p>
          <a href="{% url 'accounts:profile' profile.pk %}">@{{ profile.user }}</a>
        </p>
      </div>
      {% if profile.location %}
      <p>{{ profile.location }}</p>
      {% endif %}
      <p>Followers: {{ profile.followers.all.count }}</p>
      <br>
  </div>
  {% endfor %}

</div>
{% endblock %}
