<!-- Small bug: empty dropdown content on alerts -->
<div class="dropdown is-hoverable" id="notification-container">
  <div class="dropdown-trigger">
    <div aria-haspopup="true" aria-controls="dropdown-menu">
      <i class="material-icons">notifications_active</i>
      <span onclick="showNotifications()">&nbsp{{ notifications.count }}</span>
    </div>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">

    <div class="dropdown-content py-0">
    {% for notification in notifications %}
      {% if notification.post %}
          {% if notification.notification_type == 1 %}
          <div class="dropdown-item">
              <a class="has-text-light" href="{% url 'accounts:post-notification' notification.pk notification.post.pk %}">@{{ notification.from_user }} liked your post</a>
              <a onclick="removeNotification(`{% url 'accounts:notification-delete' notification.pk %}`, `{{ request.path }}`)"><button class="delete is-small"></button></a>
          </div>
          {% elif notification.notification_type == 2 %}
          <div class="dropdown-item">
              <a class="has-text-light" href="{% url 'accounts:post-notification' notification.pk notification.post.pk %}">@{{ notification.from_user }} commented on your post</a>
              <a onclick="removeNotification(`{% url 'accounts:notification-delete' notification.pk %}', '{{ request.path }}')"><button class="delete is-small"></button></a>
          </div>
          {% endif %}
      {% elif notification.comment %}
          {% if notification.notification_type == 1 %}
          <div class="dropdown-item">
              <a class="has-text-light" href="{% url 'accounts:post-notification' notification.pk notification.comment.post.pk %}">@{{ notification.from_user }} liked your comment</a>
              <a onclick="removeNotification(`{% url 'accounts:notification-delete' notification.pk %}`, `{{ request.path }}`)"><button class="delete is-small"></button></a>
          </div>
          {% endif %}
          {% if notification.notification_type == 2 %}
          <div class="dropdown-item">
              <a class="has-text-light" href="{% url 'accounts:post-notification' notification.pk notification.comment.post.pk %}">@{{ notification.from_user }} replied to your comment</a>
              <a onclick="removeNotification(`{% url 'accounts:notification-delete' notification.pk %}`, `{{ request.path }}`)"><button class="delete is-small"></button></a>
          </div>
          {% endif %}
        {% elif notification.thread %}
  				<div class="dropdown-item">
  					<a class="has-text-light" href="{% url 'accounts:thread-notification' notification.pk notification.thread.pk %}">@{{ notification.from_user }} sent you a message</a>
  					<a onclick="removeNotification(`{% url 'accounts:notification-delete' notification.pk %}`, `{{ request.path }}`)"><button class="delete is-small"></button></a>
  				</div>
  			{% else %}
      <div class="dropdown-item">
          <a class="has-text-light" href="{% url 'accounts:follow-notification' notification.pk notification.from_user.profile.pk %}">@{{ notification.from_user }} has started following you</a>
          <a onclick="removeNotification(`{% url 'accounts:notification-delete' notification.pk %}`, `{{ request.path }}`)"><button class="delete is-small"></button></a>
      </div>
      {% endif %}

    {% endfor %}
    </div>
  </div>

</div>
