{% extends "base.html" %}

{% load bulma_tags %}

{% block title %}<title>Plume - Convo with @{{ thread.receiver }}</title>{% endblock %}

{% block content %}

<div class="section">
	<!-- Sender/Receiver card title -->
	<div class="card p-3 has-text-light title">
		{% if thread.receiver == request.user %}
		<!-- Thread user -->
		<div class="level is-inline-flex">
			<figure class="image is-64x64 level-left">
				<img src="{{ thread.user.profile.picture.url }}" alt="{{ thread.user }}">
			</figure>
			<a class="has-text-light level-item level-left tricks fade-up" href="{% url 'accounts:profile' thread.user.pk %}">&nbsp&nbsp@{{ thread.user }} </a>
		</div>
		{% else %}
		<!-- Thread receiver -->
		<div class="level is-inline-flex">
			<figure class="image is-64x64 level-left">
				<img src="{{ thread.receiver.profile.picture.url }}" alt="{{ thread.receiver }}">
			</figure>
			<a class="has-text-light level-item level-left tricks fade-up" href="{% url 'accounts:profile' thread.receiver.pk %}">&nbsp&nbsp@{{ thread.receiver }}</a>
		</div>
		{% endif %}
	</div>

	<!-- If No Messages -->
	{% if message_list.all.count == 0 %}
	<div class="my-5">
			<em>No Messages</em>
	</div>
	{% endif %}

	<!-- Threads -->
	{% for message in message_list %}
		<!-- Senders message -->
		{% if message.sender_user == request.user %}
		<div class="my-1">
			{% if message.image %}
			<div>
				<span class="is-size-7" style="float: right">{{ message.date|date:"j/n" }} - {{ message.date|time:"P" }}</span>
				<img src="{{ message.image.url }}" class="message-image mb-2 mr-1" style="float: right" />
			</div>
			{% endif %}
			<div class="my-3 has-text-right" style="clear: right">
				<p class="tag is-warning is-large">{{ message.body }}</p>
				<span class="is-size-7">{{ message.date|date:"j/n" }} - {{ message.date|time:"P" }}</span>
			</div>
		</div>
			<!-- Receivers message -->
			{% elif message.receiver_user == request.user %}
				{% if message.image %}
					<span class="is-size-7">{{ message.date|date:"j/n" }} - {{ message.date|time:"P" }}</span>
					<img src="{{ message.image.url }}" class="message-image" />
				{% endif %}
				<div class="my-3">
					<span class="is-size-7">{{ message.date|date:"j/n" }} - {{ message.date|time:"P" }}</span>
					<p class="tag is-warning is-light is-large">{{ message.body }}</p>
				</div>
			{% endif %}
	{% endfor %}

	<!-- Message form -->
		<div class="card mt-3 p-5">
			<form method="POST" action="{% url 'accounts:create-message' thread.pk %}" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form | bulma }}
				<button class="button mt-3" type="submit">Send Message</button>
			</form>
		</div>
	</div>
{% endblock content %}
