{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}<title>Plume</title>{% endblock %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦜</text></svg>">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/master.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="has-text-light">

	<!-- Navbar -->
	<nav class="navbar is-transparent p-2" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="{% url 'home' %}">
				<span class="has-text-weight-bold is-size-4 has-text-light">Plume <span class="emoji">🦜</span></span>
			</a>

			<a class="navbar-item has-text-light has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" href="{% url 'posts:explore' %}" data-tooltip="Explore">
				<span class="material-icons">travel_explore</span>
			</a>



			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>



		{% if request.user.is_authenticated %}
		{% endif %}

		<div class="navbar-menu" id="navMenu">
			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">

						{% if request.user.is_authenticated %}

						<div class="navbar-item has-text-light">
							{% show_notifications %}
						</div>

						<div class="navbar-item inbox-icon-container">
						  <a href="{% url 'accounts:inbox' %}" class="has-text-light"><i class="material-icons">mail</i></a>
						</div>

						<!-- Dropdown User Menu -->
						<div class="dropdown is-right navbar-item">
							<div class="dropdown-trigger">
								<figure class="navbar-item image ">
									<a href="{% url 'accounts:profile' request.user.pk %}"><img src="{{ request.user.profile.picture.url }}" class="is-rounded"/></a>
									<span>&nbsp</span>
									<a class="material-icons has-text-light">expand_more</a>
								</figure>
							</div>
							<div class="dropdown-menu" role="menu">
								<div class="dropdown-content">
									<div class="dropdown-item">
											<a class="navbar-item has-text-light" href="{% url 'accounts:profile' request.user.pk %}">🖐️ @{{ request.user }}</a>
									</div>
									<a href="{% url 'accounts:profile' request.user.pk %}" class="dropdown-item has-text-light p-3">
										My Profile 🦜
									</a>
									<a href="{% url 'posts:explore' %}" class="dropdown-item has-text-light p-3">
										Explore 🌐
									</a>
									<a href="{% url 'posts:all' %}" class="dropdown-item has-text-light p-3">
										My Feed ✨
									</a>
									<a href="{% url 'groups:all' %}" class="dropdown-item has-text-light p-3">
										Groups 👥
									</a>
									<a href="{% url 'posts:create' %}" class="dropdown-item has-text-light p-3">
										New post 🪶
									</a>
									<a href="{% url 'account_logout' %}" class="dropdown-item has-text-light p-3">
										Log out 🚪
									</a>
									<form class="dropdown-item has-text-light p-3" method="GET" action="{% url 'accounts:profile-search' %}">
										<div class="field has-addons">
											<div class="control">
												<input class="input is-small is-rounded" type="text" name='query' value="{{ request.GET.query }}">
											</div>
											<div class="control">
												<button class="button is-warning is-small is-rounded" type="submit">
													<span class="material-icons">person_search</span>
												</button>
											</div>
										</div>
									</form>

								</div>
							</div>
						</div>

						{% else %}
						<a class="navbar-item has-text-light has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" href="{% url 'groups:all' %}" data-tooltip="Groups">
							<span class="material-icons">groups</span>
						</a>
						<a class="navbar-item has-text-light has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" href="{% url 'account_signup' %}" data-tooltip="Sign up!">
							<span class="material-icons">person_add</span>
						</a>
						<a class="navbar-item has-text-light has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" href="{% url 'account_login' %}" data-tooltip="Log in">
							<span class="material-icons">login</span>
						</a>
						{% endif %}

					</div>
				</div>




			</div>
		</div>
	</nav>

	<!-- Content -->
	<main>
		{% block content %}

		{% endblock %}
	</main>

	<!-- Footer -->
	<footer class="footer">
		<div class="container footer-inner">
			<div class="columns is-multiline is-flex-tablet is-flex-mobile">
				<div class="column is-3 is-6-mobile">
					<div class="footer-group">
						<h4>Plume 🦚</h4>
						<ul>
							<li><a href="{% url 'account_signup' %}">Sign Up</a></li>
							<li><a href="{% url 'account_login' %}">Login</a></li>
							<li><a href="{% url 'posts:all' %}">Posts</a></li>
							<li><a href="{% url 'groups:all' %}">Groups</a></li>
						</ul>
					</div>
				</div>
				<div class="column is-3 is-6-mobile">
					<div class="footer-group">
						<h4>Discover 🐧</h4>
						<ul>
							<li><a href="{% url 'posts:create' %}">New plume</a></li>
							<li><a href="{% url 'groups:create' %}">New group</a></li>
						</ul>
					</div>
				</div>
				<div class="column is-3 is-6-mobile">
					<div class="footer-group">
						<h4>Arthur L. 👨‍💻</h4>
						<ul>
							<li><a href="https://github.com/ajlaroya">Github</a></li>
							<li><a href="https://www.linkedin.com/in/arthurlaroya/">LinkedIn</a></li>
							<li><a href="https://mysarisari.herokuapp.com/">sari-sari (my blog) ✨</a></li>
						</ul>
					</div>
				</div>
				<div class="column is-3 is-6-mobile">
					<div class="footer-group">
						<h4>Support 🚁</h4>
						<ul>
							<li><a>FAQ</a></li>
							<li><a>About</a></li>
							<li><a>Contact</a></li>
							<li><a>Privacy policy</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<div class="footer-img" role="presentation">
			<img src="{% static 'images/pof-pof/design.png' %}" alt="">
		</div>
		<div class="container copyright">
			<div class="has-text-centered">
				<span>© 2021 Arthur Laroya, Inc. All Rights Reserved.</span>
			</div>
		</div>
	</footer>

</body>
<script type="text/javascript" src="{% static 'socialproject/js/navbar.js' %}"></script>
<script type="text/javascript" src="{% static 'socialproject/js/social.js' %}"></script>
</html>
