{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}<title>Plume</title>{% endblock %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦜</text></svg>">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/master.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="has-text-white">

	<!-- Navbar -->
	<nav class="navbar is-transparent p-2" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="{% url 'home' %}">
				<span class="has-text-weight-bold is-size-4 has-text-white-ter">Plume 🦜</span>
			</a>

			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<form class="navbar-item d-flex" method="GET" action="{% url 'accounts:profile-search' %}">
			<div class="field has-addons">
				<div class="control">
					<input class="input is-small" type="text" name='query' value="{{ request.GET.query }}">
				</div>
				<div class="control">
					<button class="button is-warning is-small" type="submit">
						<span class="material-icons">person_search</span>
					</button>
				</div>
			</div>
		</form>

		{% if request.user.is_authenticated %}
		<div class="navbar-item has-text-white">
			{% show_notifications %}
		</div>

		<div class="navbar-item inbox-icon-container">
		  <a href="{% url 'accounts:inbox' %}" class="has-text-white inbox-icon"><span class="material-icons">mail</span></a>
		</div>
		{% endif %}

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">

						{% if request.user.is_authenticated %}
						<a class="navbar-item has-text-white has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" href="{% url 'posts:all' %}" data-tooltip="Feed">
							<span class="material-icons">dynamic_feed</span>
						</a>
						<a class="navbar-item has-text-white has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" href="{% url 'posts:create' %}" data-tooltip="New post">
							<span class="material-icons">create</span>
						</a>
						<a class="navbar-item has-text-white has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" href="{% url 'groups:all' %}" data-tooltip="Groups">
							<span class="material-icons">groups</span>
						</a>
						<a class="navbar-item has-text-white has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" href="{% url 'groups:create' %}" data-tooltip="New group">
							<span class="material-icons">group_add</span>
						</a>
						<a class="navbar-item has-text-white has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" href="{% url 'account_logout' %}" data-tooltip="Log out">
							<span class="material-icons">logout</span>
						</a>
						<a class="navbar-item has-text-white-ter" href="{% url 'accounts:profile' request.user.pk %}">👋 @{{ request.user }}</a>
						<figure class="navbar-item image">
							<a href="{% url 'accounts:profile' request.user.pk %}"><img src="{{ request.user.profile.picture.url }}" class="is-rounded"/><p></p></a>
						</figure>

						{% else %}
						<a class="navbar-item has-text-white has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" href="{% url 'posts:all' %}" data-tooltip="Feed">
							<span class="material-icons">dynamic_feed</span>
						</a>
						<a class="navbar-item has-text-white has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" href="{% url 'groups:all' %}" data-tooltip="Groups">
							<span class="material-icons">groups</span>
						</a>
						<a class="navbar-item has-text-white has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" href="{% url 'account_signup' %}" data-tooltip="Sign up!">
							<span class="material-icons">person_add</span>
						</a>
						<a class="navbar-item has-text-white has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" href="{% url 'account_login' %}" data-tooltip="Log in">
							<span class="material-icons">login</span>
						</a>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</nav>

	<!-- Content -->
	<main>
		{% block content %}

		{% endblock %}
	</main>

	<!-- Footer -->
	<footer class="footer">
		<div class="container footer-inner">
			<div class="columns is-multiline is-flex-tablet is-flex-mobile">
				<div class="column is-3 is-6-mobile">
					<div class="footer-group">
						<h4>Plume 🦚</h4>
						<ul>
							<li><a href="{% url 'account_signup' %}">Sign Up</a></li>
							<li><a href="{% url 'account_login' %}">Login</a></li>
							<li><a href="{% url 'posts:all' %}">Posts</a></li>
							<li><a href="{% url 'groups:all' %}">Groups</a></li>
						</ul>
					</div>
				</div>
				<div class="column is-3 is-6-mobile">
					<div class="footer-group">
						<h4>Discover 🐧</h4>
						<ul>
							<li><a href="{% url 'posts:create' %}">New plume</a></li>
							<li><a href="{% url 'groups:create' %}">New group</a></li>
						</ul>
					</div>
				</div>
				<div class="column is-3 is-6-mobile">
					<div class="footer-group">
						<h4>Arthur L. 👨‍💻</h4>
						<ul>
							<li><a href="https://github.com/ajlaroya">Github</a></li>
							<li><a href="https://www.linkedin.com/in/arthurlaroya/">LinkedIn</a></li>
							<li><a href="https://mysarisari.herokuapp.com/">sari-sari (my blog) ✨</a></li>
						</ul>
					</div>
				</div>
				<div class="column is-3 is-6-mobile">
					<div class="footer-group">
						<h4>Support 🚁</h4>
						<ul>
							<li><a>FAQ</a></li>
							<li><a>About</a></li>
							<li><a>Contact</a></li>
							<li><a>Privacy policy</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<div class="footer-img" role="presentation">
			<img src="{% static 'images/pof-pof/design.png' %}" alt="">
		</div>
		<div class="container copyright">
			<div class="has-text-centered">
				<span>© 2021 Arthur Laroya, Inc. All Rights Reserved.</span>
			</div>
		</div>
	</footer>

</body>
<script type="text/javascript" src="{% static 'socialproject/js/navbar.js' %}"></script>
<script type="text/javascript" src="{% static 'socialproject/js/social.js' %}"></script>
</html>
