{% extends "base.html" %}

{% load static %}
{% load avatar_tags %}

{% block content %}
<!-- Hero -->
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered reverse-columns">
          <div data-aos="fade-right" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="title titled is-2 has-text-white-bis">
              Welcome to Plume 🦚 <!--<span id="typewriter"></span>-->
            </h1>
            <p class="subtitle">A 'no frills' social media platform for everyone!</p>
            <button class="button">Log in</button>
            <button class="button">Get started</button>
          </div>
          <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd" data-aos="fade-up">
            <figure class="image is-square">
              <img src="{% static 'images/pof-pof/no comments yet.png' %}">
            </figure>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div data-aos="fade-left" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
            <figure class="image is-square">
              <img src="{% static 'images/pof-pof/messages.png' %}">
            </figure>
          </div>
          <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="titled title is-1 mb-6 has-text-white-bis">
              🦉 Join the conversation
            </h1>
            <h2 class="subtitled subtitle">
              Communicate your ideas. Share what's new to the world. Form your opinions. Spark a heated discussion. Learn something new!
            </h2>
            <button class="button">Create a new post</button>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered reverse-columns">
          <div data-aos="fade-right" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="title titled is-1 mb-6 has-text-white-bis">
              Start your own community 🦆
            </h1>
            <h2 class="subtitle subtitled">
              There's nothing like finding a gang of like-minded people who share your interests whether it would be about your favourite cereal, dogs with hats, or even vampires!
            </h2>
            <button class="button">Create a group</button>
          </div>
          <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd" data-aos="fade-up">
            <figure class="image is-square">
              <img src="{% static 'images/pof-pof/coding.png' %}">
            </figure>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="hero is-medium has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div data-aos="zoom-in-up" class="column is-8">
            <h1 class="title titled is-1 mb-6 has-text-white-bis">
              Get connected today 🐓
            </h1>
            <h2 class="subtitle subtitled pb-3">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum cupiditate dolorum vitae dolores
              nesciunt totam magni quas.
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </h2>
            <img style='max-width:50%;width:auto;height:auto;' src="{% static 'images/pof-pof/instashot.png' %}">
          </div>
        </div>

      </div>
    </div>
  </section>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
  <script>
    new Typewriter('#typewriter', {
      strings: ['Welcome to Plume 🦚'],
      autoStart: true,
      loop: true,
    });
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true
    });
  </script>
{% endblock %}
