{% extends "base.html" %}

{% load static %}

{% block title %}<title>Plume - Home</title>{% endblock %}

{% block content %}
<!-- Hero -->
<section class="hero is-fullheight">
  <div class="hero-body hero--gallery">
    <div class="container">
      <div class="columns is-vcentered reverse-columns">
        <div data-aos="fade-right" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
        <h1 class="title titled is-2 has-text-light">
          <span id="typewriter"></span>
        </h1>
        <p class="subtitle">A 'no frills' online community space for everyone!</p>
        <br>
        {% if user.is_authenticated %}
        <a class="button" href="{% url 'about' %}">About us</a>
        <a class="button" href="{% url 'posts:create' %}">Start posting</a>
        {% else %}
        <a class="button" href="{% url 'about' %}">Learn more</a>
        <a class="button" href="{% url 'account_login' %}">Get started</a>
        {% endif %}

        </div>
      <div data-aos="fade-down" class="column
      is-10-mobile is-offset-1-mobile
      is-10-tablet is-offset-1-tablet
      is-4-desktop is-offset-1-desktop
      is-4-widescreen is-offset-1-widescreen
      is-4-fullhd is-offset-1-fullhd" data-aos="fade-up">
      <figure class="image ">
        <img src="{% static 'images/pof-pof/no comments yet.png' %}" alt="pof-pof no comments yet">
      </figure>
      </div>

  </div>
</div>
</div>
</section>

<section class="hero is-fullheight">
  <div class="hero-body hero--gallery">
    <div class="container">
      <div class="columns is-vcentered">
        <div data-aos="fade-left" class="column
        is-10-mobile is-offset-1-mobile
        is-10-tablet is-offset-1-tablet
        is-4-desktop is-offset-1-desktop
        is-4-widescreen is-offset-1-widescreen
        is-4-fullhd is-offset-1-fullhd">
        <figure class="image ">
          <img src="{% static 'images/pof-pof/messages.png' %}" alt="pof-pof messages">
        </figure>
      </div>
      <div data-aos="fade-down" class="column
      is-10-mobile is-offset-1-mobile
      is-10-tablet is-offset-1-tablet
      is-5-desktop is-offset-1-desktop
      is-5-widescreen is-offset-1-widescreen
      is-5-fullhd is-offset-1-fullhd">
      <h1 class="titled title is-1 mb-6 has-text-light tricks pop-in">
        Join the conversation
      </h1>
      <h2 class="subtitled subtitle">
        Communicate your ideas. Share what's new. Form your opinions. Spark a heated debate. Get updated on breaking news. Learn something new!
      </h2>
      <a class="button" href="{% url 'posts:create' %}">Create a new post</a>
    </div>

  </div>
</div>
</div>
</section>

<section class="hero is-fullheight">
  <div class="hero-body hero--gallery">
    <div class="container">
      <div class="columns  is-vcentered reverse-columns">
        <div data-aos="fade-right" class="column
        is-10-mobile is-offset-1-mobile
        is-10-tablet is-offset-1-tablet
        is-5-desktop is-offset-1-desktop
        is-5-widescreen is-offset-1-widescreen
        is-5-fullhd is-offset-1-fullhd">
        <h1 class="title titled is-1 mb-6 has-text-light tricks fade-up">
          Start your own community
        </h1>
        <h2 class="subtitle subtitled">
          There's nothing like finding a gang of like-minded people who share your interests whether it would be about your favourite cereal, dogs with hats, or even vampires!
        </h2>
        <a class="button" href="{% url 'groups:create' %}">Create a group</a>
      </div>
      <div data-aos="fade-down" class="column
      is-10-mobile is-offset-1-mobile
      is-10-tablet is-offset-1-tablet
      is-4-desktop is-offset-1-desktop
      is-4-widescreen is-offset-1-widescreen
      is-4-fullhd is-offset-1-fullhd" data-aos="fade-up">
      <figure class="image">
        <img src="{% static 'images/pof-pof/coding.png' %}" alt="pof-pof coding">
      </figure>
    </div>

  </div>
</div>
</div>
</section>

<section class="hero is-medium has-text-centered">
  <div class="hero-body hero--gallery">
    <div class="container">
      <div class="columns is-centered">
        <div data-aos="zoom-in-up" class="column is-8">
          <h1 class="title titled is-1 mb-6 has-text-light tricks slide-in">
            Get connected today.
          </h1>
          <h2 class="subtitle subtitled pb-3">
            The world is at your fingertips <br><br>
            <a class="button mb-5" href="{% url 'account_signup' %}">Sign me up!</a>
          </h2>
          <img style='max-width:45%;width:auto;height:auto;' src="{% static 'images/pof-pof/instashot.png' %}" alt="pof-pof instashot">

          <!-- random staggering animation -->

          <!-- <div class="animation-wrapper pt-5">
            <div class="stagger-visualizer">
              <div class="cursor color-red"></div>
              <div class="dots-wrapper"></div>
            </div>
          </div> -->
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Typerwriter JS effect -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
<script>
  new Typewriter('#typewriter', {
    strings: ['Welcome to Plume'],
    autoStart: true,
    loop: true,
  });
</script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    once: true
  });
</script>
{% endblock %}
