{% load static %}

{% load bulma_tags %}

<!-- Post article -->
<article class="media">
  <!-- Poster details -->
  <figure class="media-left">
    <p class="image is-64x64">
      <a href="{% url 'accounts:profile' post.author.profile.pk %}"><img src="{{ post.author.profile.picture.url }}" alt="{{ post.author }}"></a>
    </p>
  </figure>

  <!-- Poster content -->
  <div class="media-content">
    <div class="content">

      <!-- Shared post -->
      {% if post.shared_user %}
      <div class="level">
        <a class="level-item level-right" href="{% url 'accounts:profile' post.shared_user.profile.pk %}">
          <img height="30" width="30" src="{{ post.shared_user.profile.picture.url }}" />
        </a>
        <p class="post-text">
          <a class="text-primary post-link" href="{% url 'accounts:profile' post.shared_user.profile.pk %}">&nbsp&nbsp@{{ post.shared_user }}</a>
          shared this post on {{ post.shared_on }}
          {% if post.shared_body %}
            and said: <em>{{ post.shared_body }}</em>
          {% endif %}
        </p>
      </div>
      {% endif %}

      <!-- Post content -->
      <p>
        <strong><a class="has-text-warning" href="{% url 'accounts:profile' post.author.profile.pk %}">@{{post.author}}</a></strong>
        <small>
          <time class="time">
          <a class="has-text-warning" href="{% url 'posts:single' username=post.author pk=post.pk %}">&nbsp{{post.created_at}}</a>
          </time>
        </small>
        <br>

        <!-- Post image (if) -->
        {% if post.image.count > 0 %}
          {% for img in post.image.all %}
            <img src="{{ img.image.url }}" class="post-image"/>
          {% endfor %}
          <br>
        {% endif %}

        {{ post.message }}
      </p>
    </div>

    <!-- Post menu -->
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item has-text-warning has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" data-tooltip="Reply">
          <span class="material-icons" onclick="commentReplyToggle('{{ comment.pk }}')">reply</span>
        </a>
        <a class="level-item has-text-warning has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" data-tooltip="Share">
          <span onclick="shareToggle('{{ post.pk }}')" class="material-icons">share</span>
        </a>
        <!-- Likes -->
        <form class="level-item" method="POST" action="{% url 'posts:like' pk=post.pk %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                {% if user in post.likes.all %}
                <a class="level-item has-text-warning">
                  <span class="material-icons">favorite</span>
                </a>
                {% else %}
                <a class="level-item has-text-warning">
                  <span class="material-icons">favorite_border</span>
                </a>
                {% endif %}
            </button>
          <span class="level-item">{{ post.likes.all.count }}</span>
        </form>
    </nav>

    <!-- Share form (hidden) -->
    <form method="POST" action="{% url 'posts:share-post' post.pk %}" class="is-hidden" id="{{ post.pk }}">
      {% csrf_token %}
      {{ shareform }}
      <br>
      <button class="button is-small is-warning mb-5">Share this post</button>
    </form>

  </div>

  <!-- Delete post -->
  <div class="media-right">
    {% if user.is_authenticated and post.author == request.user %}
    <a href="{% url 'posts:delete' pk=post.pk %}" title='delete' class="delete"></a>
    {% endif %}
  </div>
</article>
