{% load avatar_tags %}
{% load static %}
<script src="{% static 'socialproject/js/reply.js' %}" charset="utf-8"></script>

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <a href="">{% avatar post.user.username class="is-rounded" id="user_avatar" %}</a>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><a class="has-text-warning" href="{% url 'posts:for_user' username=post.user.username%}">@{{post.user}}</a></strong>
        <small>
          <time class="time">
          <a class="has-text-warning" href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{post.created_at}}</a>
          </time>
        </small>
        <br>
        {{post.message}}
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item has-text-warning has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" data-tooltip="Reply">
          <span class="material-icons">reply</span>
        </a>
        <a class="level-item has-text-warning has-text-warning has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" data-tooltip="Share">
          <span class="material-icons">share</span>
        </a>
        <form class="level-item" method="POST" action="{% url 'posts:like' pk=post.pk %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                {% if user in post.likes.all %}
                <a class="level-item has-text-warning">
                  <span class="material-icons">favorite</span>
                </a>
                {% else %}
                <a class="level-item has-text-warning">
                  <span class="material-icons">favorite_border</span>
                </a>
                {% endif %}
            </button>
          <span class="level-item">{{ post.likes.all.count }}</span>
        </form>
    </nav>
  </div>
  <div class="media-right">
    {% if user.is_authenticated and post.user == user %}
    <a href="{% url 'posts:delete' pk=post.pk %}" title='delete' class="delete"></a>
    {% endif %}
  </div>
</article>
<br>
