{% extends 'base.html' %}

{% load bulma_tags %}

{% block title %}<title>Plume - Explore</title>{% endblock %}

{% block content %}

<div class="section">
    {% if tag %}
      <h3 class="title has-text-light tricks pop-in">Explore #{{ tag.name }} posts</h3>
      <p class="subtitle">Most recent posts tagged with #{{ tag.name }}</p>
    {% else %}
      <h3 class="title has-text-light tricks pop-in">Explore posts</h3>
      <p class="subtitle">Explore tags to find new posts</p>
    {% endif %}

    <form method="POST" class="my-5">
      {% csrf_token %}
      {{ explore_form | bulma }}
    </form>

  {% for post in posts %}
  {% include "posts/_post.html" %}
  {% endfor %}
</div>
{% endblock content %}
