{% extends "posts/post_base.html" %}

{% load bulma_tags %}

{% block title %}<title>Plume - Edit Post</title>{% endblock %}

{% block post_content %}
<h1 class="title has-text-light">Edit post</h1>
<a href="{% url 'posts:all' %}" class="has-text-warning">Return to Feed</a>
<div class="row mt-5">

  {% include "posts/_post.html" %}
  <div class="col-md-5 col-sm-12">
    <form method="POST">
      {% csrf_token %}
      {{ form | bulma }}
      <div class="d-grid gap-2">
        <button class="btn btn-success mt-3">Submit!</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
