{% extends "posts/post_base.html" %}

{% load bulma_tags %}

{% block title %}<title>Plume - New Post</title>{% endblock %}

{% block post_content %}
  <h2 class="title has-text-light">Create a new post</h2>
  <form action="{% url 'posts:create' %}" method="post" enctype="multipart/form-data" class="column is-three-quarters">
    {% csrf_token %}
    {{ form.message | bulma }}
    <div class="mb-3">
      {{ form.group | bulma }}
    </div>
    {{ form.image | bulma }}
    <input type="submit" value="Post!" class='button mt-5'>
  </form>
{% endblock %}
