{% extends "posts/post_base.html" %}

{% load bulma_tags %}

{% block title %}<title>Plume - Detail</title>{% endblock %}

{% block post_content %}
<h1 class="title has-text-light">Post detail</h1>
<a href="{% url 'posts:all' %}" class="has-text-warning">Return to Feed</a>
<div class="row mt-5">
    {% include "posts/_post.html" %}
    {% if request.user == post.user %}
    <a href="{% url 'posts:edit' post.pk %}">Edit</a>
    <a href="{% url 'posts:delete' post.pk %}">Delete</a>
    {% endif %}
    {% for comment in comments %}
    <div class="row mt-3 mb-5">
        <p>
          <strong>{{ comment.user }}</strong> {{ comment.created_at }}
          {% if request.user == comment.user %}
          <a href="{% url 'posts:comment-delete' post.pk comment.pk %}">Delete comment</a>
          {% endif %}
        </p>
        <p>{{ comment.comment }}</p>
    </div>
    {% endfor %}
</div>
<div class="row mt-3 mb-5">
    <form method="POST">
      {% csrf_token %}
      {{ form | bulma }}
      <div class="d-grid gap-2">
        <button class="btn btn-success mt-3">Comment!</button>
      </div>
    </form>
</div>
{% endblock %}
