{% extends "posts/post_base.html" %}

{% load static %}

{% load bulma_tags %}

{% block title %}<title>Plume - @{{ post.author }}'s post</title>{% endblock %}

{% block post_content %}
<h1 class="title has-text-light">@{{ post.author }}'s post
  {% if request.user == post.author %}
  <a href="{% url 'posts:edit' post.pk %}"><i class="material-icons has-text-warning">edit</i></a>
  <a href="{% url 'posts:delete' post.pk %}"><i class="material-icons has-text-warning">delete</i></a>
  {% endif %}
</h1>

<a href="{{request.META.HTTP_REFERER|escape}}"><input type="submit" class="button mb-5" value="Go back"></a>

<div class="mt-3 column is-three-quarters">

  <!-- Singular post -->
  {% include "posts/_post.html" %}
  
</div>
{% endblock %}
