{% extends "posts/post_base.html" %}

{% load bulma_tags %}

{% block title %}<title>Plume - My Feed</title>{% endblock %}

{% block pre_post_content %}
<h1 class="title has-text-light">My feed</h1>
{% if request.user.is_authenticated %}
<p class="subtitle has-text-light">👋 @{{ user }}, here are posts from users you follow!</p>
{% endif %}

<div class="column">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.message|bulma }}
				{{ form.image|bulma }}
        <button class="button my-3">Submit!</button>
    </form>
</div>

{% endblock %}
{% block post_content %}
<div>
	{% for post in post_list %}
  {% include "posts/_post.html" %}
	{% endfor %}
</div>
{% endblock %}
