/* my classes */
body {
  font-family: 'Jost', sans-serif;
}

.brand {
  font-family: 'bluu_nextbold', serif;
  font-size: 1.5em;
}

.bluu {
  font-family: 'bluu_nextbold', serif;
}

.posttitle {
  font-family: 'bluu_nextbold', serif;
  font-size: 3em;
  text-align: center;
}

.postfont {
  font-family: 'Jost', sans-serif;
  font-size: 1.25em;
}

.navbar-custom {
  background-color: white;
  font-family: 'Jost', sans-serif;
}

.postdate {
  text-align: center;
}

.cards {
  background-color: white;
}

/*hue loader*/
/*credit and source: http://codepen.io/thapliyalshivam/pen/dvgXVO*/
.loader {
  height:10px;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  filter:hue-rotate(0deg);
  background:linear-gradient(45deg,#0f8,#08f);
  animation:hue 10000ms infinite linear;
  z-index: -1;
}

@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}
}
