html,body {
  height: 100%;
  width: 100%;
  background: #141517;
  font-family: 'Lora', serif;
}

p {
  font-family: 'Noto Sans', sans-serif;
}

.navbar {
  background-color: #18191C;
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, rgba(232,18,36,1) 0%, rgba(255,185,0,1) 50%) 1;
}

.input {
  background-color: #18191C;
  color: white;
}

.textarea {
  background-color: #18191C;
  color: white;
}

#id_group {
  background: #18191C;
  color: white;
}

.button {
  background-color: #18191C;
  color: white;
}

.label {
  color: white;
}

.box {
  background-color: #18191C;
}

svg {
  vertical-align: middle;
}
