html,body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background: #141517;
  font-family: 'Josefin Sans', sans-serif;
}

p, .subtitle {
  font-weight: 300;
}

main {
  min-height: 100%;
}

#navbarBasicExample {
  background-color: #18191C;
  color: white;
}

.navbar {
  background-color: #18191C;
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, rgba(232,18,36,1) 0%, rgba(255,185,0,1) 50%) 1;
}

.input {
  background-color: #18191C;
  color: white;
}

.textarea {
  background-color: #18191C;
  color: white;
}

#id_group {
  background: #18191C;
  color: white;
}

.button {
  background-color: #18191C;
  color: white;
}

.label {
  color: white;
}

.box {
  background-color: #18191C;
}

svg {
  vertical-align: middle;
}

/* Footer CSS */

.footer {
  position: relative;
  background-color: #18191C;
  border-top: 2px solid;
  border-image: linear-gradient(90deg, rgba(232,18,36,1) 0%, rgba(255,185,0,1) 50%) 1;
}

.footer-img {
  margin: 20px auto 18px;
  height: 150px;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
}
