html,body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background: #141517;
  font-family: 'Josefin Sans', sans-serif;
}

.post-body, .emoji {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

p, .subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  color: #F9F6EE
}

.field:not(:last-child) {
    margin-bottom: 0rem;
}

.navbar-item, .navbar-link {
    padding: 0rem 0.8rem;
    padding-bottom: 0.1rem;
    padding-right: 0.2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

main {
  min-height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (max-width: 768px) {
  main {
    overflow-x: visible;
    margin-left: 0%;
    margin-right: 0%;
  }
}

#navMenu {
  background-color: #18191C;
  color: white;
}

.navbar {
  background-color: #18191C;
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, rgba(232,18,36,1) 0%, rgba(255,185,0,1) 50%) 1;
}

.input {
  background-color: #18191C;
  color: white;
}

.textarea {
  background-color: #18191C;
  color: white;
}

#id_group {
  background: #18191C;
  color: white;
}

.button {
  background-color: #18191C;
  color: white;
}

.label {
  color: white;
}

.box, .card {
  background-color: #18191C;
}

.card {
  width: 100%;
  border-radius: 10px
}

.card-footer {
  border-top: 0px
}

.card-footer-item:not(:last-child) {
  border-right: 0px
}

svg {
  vertical-align: middle;
}

.dropdown-content {
  background-color: #18191C;
  border: 1px solid #555;
}

.dropdown-item{
  border-bottom: 1px solid #555;
}

.post-image {
  width: 280px;
  max-height: 100%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.message-image {
  border-radius: 10px;
	max-width: 35%;
	height: auto;
}

.inbox-icon {
  color: #333;
  transition: 0.5s;
}

.inbox-icon:hover {
  transition: 0.5s;
}

.footer {
  position: relative;
  background-color: #18191C;
  border-top: 2px solid;
  border-image: linear-gradient(90deg, rgba(232,18,36,1) 0%, rgba(255,185,0,1) 50%) 1;
}

.footer-img {
  margin: 20px auto 18px;
  height: 150px;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
}

i {
  position: relative;
  top: 5px;
  left: 5px;
}

.dropdown-content {
  width: 200px
}

.navbar-item img {
    max-height: 3rem;
}

@media screen and (max-width: 768px) {
  .media-content {
    overflow-x: visible;
  }
}
