{% extends "groups/group_base.html" %}

{% block title %}<title>Plume - Group Delete</title>{% endblock %}

{% block pregroup %}
<h2 class="title has-text-light tricks pop-in">Are you sure you want to delete: {{ group.name }}?</h2>
<a href="{{request.META.HTTP_REFERER|escape}}"><input type="submit" class="button mb-5" value="No! Take me back"></a>
<p class="subtitle">You are about to delete this group, this cannot be undone.</p>

<form method="post">
  {% csrf_token %}
  <a href="{% url 'groups:all' %">
  <input type="submit" class="button" value="Confirm Delete"></a>
</form>

{% endblock %}
