{% extends "groups/group_base.html" %}

{% load bulma_tags %}

{% block title %}<title>Plume - {{group.name}}</title>{% endblock %}

{% block pregroup %}
<div class="columns">
  <div class="card column is-half p-5 mx-5">
    <h1 class="title has-text-light tricks fade-up"><strong>{{group.name}}</strong></h1>
    <p class="subtitle"><em>{{ group.description }}</em></p>
    {% if group.admin %}
      <p class="subtitle is-size-6">mod: {{ group.admin }}</p>
    {% endif %}
    <p class="subtitle"><span class="tag is-warning is-rounded">{{ group.members.count }}</span> members</p>

    <div class="content mt-5">
      {% if user in group.members.all %}
        <a href="{% url 'posts:create' %}" class="button">New Post</a>
        <a href="{% url 'groups:leave' slug=group.slug %}" class="button">Leave</a>
      {% else %}
        <a href="{% url 'groups:join' slug=group.slug %}" class="button">Join</a>
      {% endif %}
      {% if request.user == group.admin %}
      <a href="{% url 'groups:edit' slug=group.slug %}"><i class="material-icons has-text-warning">edit</i></a>
      <a href="{% url 'groups:delete' slug=group.slug %}"><i class="material-icons has-text-warning">delete</i></a>
      {% endif %}
    </div>
  </div>

  <!-- Group post form -->
  <div class="card column is-half p-5 mb-5">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.message | bulma }}
          {{ form.image | bulma }}
          <!-- {{ form.group | bulma }} -->
          <button class="button my-3">Submit!</button>
      </form>
  </div>
</div>
{% endblock %}

{% block group_content %}
<div class="col">
  {% if group.posts.count == 0 %}
    <h2>No posts in this group yet!</h2>
  {% else %}
    {% for post in group.posts.all %}
    <div class="container">
        {% include "posts/_post.html" %} <!-- injects html -->
    </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
