{% extends "groups/group_base.html" %}

{% block title %}<title>Plume - Groups</title>{% endblock %}

<!-- Group -->
{% block pregroup %}
<h2 class="title has-text-light tricks fade-up">Groups</h2>
{% if user.is_authenticated %}
<a href="{% url 'groups:create' %}" class="button">Create Group</a>
{% endif %}
{% endblock %}

<!-- Group list -->
{% block group_content %}
<div class="tile is-ancestor my-3">
  <div class="tile is-vertical">

    <!-- Group cards -->
    {% for group in object_list %}
    <div class="tile">
      <div class="card m-3 p-3">
        <header class="card-header level">
          <div class="column is-half">
            <p class="card-header-title level-left">
              <a class="is-size-4 has-text-light" href="{% url 'groups:single' slug=group.slug %}">{{ group.name }}</a>
            </p>
          </div>

          <div class="level-right">
            <a class="has-text-warning p-2" href="#">{{ group.members.count }}
              <i class="material-icons">groups</i>
            </a>
            <a class="has-text-warning p-2" href="#">{{ group.posts.count }}
              <i class="material-icons">chat</i>
            </a>
          </div>
        </header>
        <div class="card-content pt-0">
          <div class="content has-text-grey-light">
            <p>{{ group.description }}</p>
          </div>
        </div>
        <footer class="card-footer">
          {% if user in group.members.all %}
            <a href="{% url 'posts:create' %}" class="card-footer-item has-text-warning">New Post</a>
            <a href="{% url 'groups:leave' slug=group.slug %}" class="card-footer-item has-text-warning">Leave</a>
          {% else %}
            <a href="{% url 'groups:join' slug=group.slug %}" class="card-footer-item has-text-warning">Join</a>
          {% endif %}
        </footer>
      </div>
    </div>
    {% endfor %}

  </div>
  <!-- Group list -->
  <!-- <div class="tile is-4 is-vertical">
    <div class="card m-3 p-3">
      <header class="card-header">
        <p class="card-header-title">
          <a class="title is-4 has-text-light" href="#">Your Groups 🦜</a>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <ul>
            <li class="has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card m-3">
      <header class="card-header">
        <p class="card-header-title">
          <a class="title is-4 has-text-light" href="#">All Groups 🦚</a>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <ul>
            <li class="has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
</div>
{% endblock %}
