{% extends "groups/group_base.html" %}

{% block title %}<title>Plume - Groups</title>{% endblock %}

{% block pregroup %}
  <h2 class="title has-text-white">Groups</h2>
  {% if user.is_authenticated %}
  <!-- <h3 class="subtitle has-text-white">Welcome
    <a class="has-text-warning" href="{% url 'posts:for_user' username=user.username %}">@{{user.username}}</a>
  </h3> -->
  <a href="{% url 'groups:create' %}" class="button">create new group</a>
  {% endif %}
{% endblock %}

{% block group_content %}
<div class="tile is-ancestor my-3">
  <div class="tile is-vertical">

      {% for group in object_list %}
    <div class="tile">
      <div class="card m-3 p-3">
        <header class="card-header level">
          <p class="card-header-title level-left">
            <a class="title is-4 has-text-white" href="{% url 'groups:single' slug=group.slug %}">{{ group.name }}</a>
          </p>
          <div class="level-right">
            <a class="has-text-warning p-2" href="#">{{ group.members.count }}
              <span class="material-icons">groups</span>
            </a>
            <a class="has-text-warning p-2" href="#">{{ group.posts.count }}
              <span class="material-icons">chat</span>
            </a>
          </div>
        </header>
        <div class="card-content pt-0">
          <div class="content has-text-grey-light">
            {{ group.description }}
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item has-text-warning p-0">Join</a>
          <a href="#" class="card-footer-item has-text-warning p-0">Leave</a>
        </footer>
      </div>
    </div>

    {% endfor %}
  </div>
  <div class="tile is-4 is-vertical">
    <!-- This tile will take up the whole vertical space -->
    <div class="card m-3 p-3">
      <header class="card-header">
        <p class="card-header-title">
          <a class="title is-4 has-text-white" href="#">Your Groups 🦜</a>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <ul>
            <li class="has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul>
        </div>
      </div>
      </div>
      <div class="card m-3">
        <header class="card-header">
          <p class="card-header-title">
            <a class="title is-4 has-text-white" href="#">All Groups 🦚</a>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <ul>
              <li class="has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
            </ul>
          </div>
        </div>
      </div>

  </div>


</div>
{% endblock %}
