{% extends "groups/group_base.html" %}

{% block title %}<title>Plume - {{group.name}}</title>{% endblock %}

{% block pregroup %}
  <h1 class="title has-text-light">{{group.name}}</h1>
  <p class="subtitle"><em>{{ group.description }}</em></p>

  <h2>
    Members&nbsp&nbsp<span class="tag is-warning is-rounded">{{ group.members.count }}</span>
  </h2>

  <div class="content mt-5">
    {% if user in group.members.all %}
      <a href="{% url 'posts:create' %}" class="button">New Post</a>
      <a href="{% url 'groups:leave' slug=group.slug %}" class="button">Leave</a>
    {% else %}
      <a href="{% url 'groups:join' slug=group.slug %}" class="button">Join</a>
    {% endif %}
  </div>
{% endblock %}

{% block group_content %}
<div class="col">
  {% if group.posts.count == 0 %}
    <h2>No posts in this group yet!</h2>
  {% else %}
    {% for post in group.posts.all %}
    <div class="container">
        {% include "posts/_post.html" %} <!-- injects html -->
    </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
